# Playdate Output.
build/*
builds/*
*.pdx
*.so
*.elf

# Dev environment (to be reviewed).
*.code-workspace
.sentry-native
Build and Run*
build_and_run.sh

# Editors.
*.kra~
*.png~
*~
*.swp
*.swo
*#

# Thumbnails.
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
